* {
  margin: 0px;
  padding: 0px;
}

.body {
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr 1fr;
}
.register {
  padding: 20px;
  margin-right: 40px;
  align-self: center;
  grid-row: 1/2;
  height: 450px;
}
.image {
  align-items: stretch;
  border-radius: 20px;
  grid-row: 1/-1;
}
.button {
  background-color: #f7950200;
}
.background {
  margin-top: 20px;
  padding: 30px;
  background-color: rgb(214, 231, 250);
  border-radius: 12px;
}
