*{
    margin:0px;
    padding:0px;
    display: inline-block;
}

.body {
  display: flex;
  /* grid-template-columns: 1fr, 1042px; */
  margi
}
.register {
  justify-content: start;
}
.image {
  align-items: stretch;
}
