* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-sidebare {
    background-color: #111111;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 30px;
    color: white;
}

.layout {
    display: flex;
    gap: 30px;
}

/* Sidebar */
.sidebar {
    width: 260px;
    min-height: 100vh;
    background-color: #1e1e1e;
    padding: 25px 18px;
    border-radius: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.item:hover {
    background-color: #2a2a2a;
}

.link {
    text-decoration: none;
    color: white;
}

.active-item {
    background-color: #2a2a2a;
}

/* Main */
.page-container {
    flex: 1;
}

.main-header,
.form-section,
.table-section {
    background-color: #1e1e1e;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Form */
.form-row {
    margin-bottom: 12px;
}

input, select {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: #303234;
    color: white;
}

input[type="submit"] {
    background-color: #ec6f09;
    cursor: pointer;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

/* back */
.back-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #ec6f09;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}