* {
  margin: 0px;
  padding: 0px;
}

.body {
  display: flex;
  /* grid-template-columns: 1fr, 1042px; */
  margin: 50px;
}
.register {
  justify-content: start;
}
.image {
  align-items: stretch;
}
